.vercel
node_modules
.next
out
dist
.env
.env.local
.env.*.local
npm-debug.log*
test-artifacts
migration-artifacts
/api/
.firebase
firebase-debug.log
admin.html
index.html
/css/
/js/
/images/
/propuestas/
firebase.json
.firebaserc
firestore.rules
firestore.indexes.json
database.rules.json
